.footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    text-align: center;
}
.footer > .cont {
    width: 980px;
    margin: 0 auto;
    text-align: left;
}
.footer .ls {
    overflow: hidden;
    margin-top: 10px;
    border-top:1px solid #ccc;
}
.footer .block {
    float: left;
    width: 33%;
}
.footer .gensys {
    float: right;
    color: #999;
}